# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#PCAP files
*.pcap

#Ascii Trace Files
*.tr

#Compiled Python Files
*.pyc
 
#Swap files
*.swp

#Build Directory
build/

#Scratch Directory
scratch/

#Statistics files
*Stats.txt

#OtherFiles
.lock-waf_linux2_build
.waf-1.7.11-*
